<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rs21.infonearby">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".Views.Home"
            android:launchMode="singleTop"
            android:label="@string/launcher_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Views.ImageLabel"
            android:theme="@style/AppThemeNoActionbar">
            <meta-data
                android:name="com.google.firebase.ml.vision.DEPENDENCIES"
                android:value="label" />
        </activity>
        <activity
            android:name=".Views.Landmark"
            android:parentActivityName=".Views.Home">

        </activity>
    </application>
</manifest>